.chatScreen-container {
    display: flex;
    flex-direction : column;
    min-height: 100vh;
}

.input-container {
    display: flex;
    flex-direction: row;
    margin-top: auto; /* Push to bottom */
    padding: 12px;
    box-shadow: 0 -2 8px rgba(0,0,0,0.05);
}

.message-input {
    /*flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    width: 100%;
    padding-right: 70px;
    box-sizing: border-box;
    border-radius: 16px;*/
    border: none;
    background: transparent;
    width: 100%;
    flex: 1;
    padding: 10px;
    border-radius: 30px 0 0 30px;
    outline: none;
}

.input-wrapper {
    border: 1px solid #ccc;
    display: flex; 
    align-items: center;
    background: #363940;
    border-radius: 10px;
    position: relative;
    width: 100%;
}
.chatScreen-container h1 {
    margin-bottom : 20px;
}
.send-button {
    background: #5865f2; /* Discord-like blue, or your choice */
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s;
}

.messages-container {
    display: flex;
    flex-direction: column;
}


.message-item {
  max-width: 20%;
  padding: 10px 14px;
  border-radius: 16px;
  margin: 6px 0;
  word-wrap: break-word;
}

/* your own messages */
.self-message {
  align-self: flex-end;          /* move to right */
  background-color: #dcf8c6;     /* WhatsApp-style green */
  text-align: right;
  color: black;
}

/* other people's messages */
.friend-message {
  align-self: flex-start;        /* stay on left */
  background-color: #ffffff;     /* white bubble */
  border: 1px solid #ddd;        /* light border */
  text-align: left;
  color: black;
}