
.homeContent-container {
    flex: 1;
    min-width: 0;
    min-height: 100vh;
    padding: 15px;
    border: solid;
    border-color: aqua;
    border-width: 3px;
}
.title-text {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.title-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#notifications {
    background-color: transparent;
    background: none;
    border: none;
    outline: none;
    
}