.background {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.login-design-container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
}

.login-container {
    background-color: white;
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-title-text {
    font-size: 96px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    display: flex;
    color : white;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
}

.login-input-container {
    border: 2px;
    border-radius: 25px;
    border-color: black;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 50%;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    gap: 30px;
    color: black;
}
.input-group {
    display : flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;
}
.input-group label {
    align-self: flex-start;
    margin-left: 10%;
    font-weight: bold;
    font-size: 16px;
    width: 80%;
    color: black;
}
.text-input {
    width: 80%;
    border-radius: 10px;
    padding: 10px 12px;
    border: 2px solid black;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.login-button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.login-button {
    align-self: flex-start;
    margin-left: 10%;
    padding: 12px 30px;    
    background-color: #007bff;
    color: white;
    border: none;
    width: 80%;
}
.register-option {
    align-self: flex-start;
    margin-left: 10%;
    font-size:small;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}
.login-button:active {
    background-color: #4caf50;
    color: white;
}